.wrapper
  = render "index/header"
  = render "index/aside"

  %article
    %h1
      = t('list_users')

      = render 'users/users/list'
      %br
      %br
      %div{ style: "margin-left: 30%" }
        -# = paginate @users, outer_window: 10
  %footer