%article
  %section
    / for demo wrap
    %h1 WorkSheet
    .tbl-header
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %thead
          %tr
            %th Worker
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
    .tbl-content
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %tbody
          %tr
            %td AAC
            %td AUSTRALIAN COMPANY
            %td $1.38
            %td +2.01
            %td -0.36%
            %td -0.36%
            %td -0.36%
            %td -0.36%
