%header
  %div.display_flex
    %div
      %h1.margin_top_5_per
        #{params[:head]}
    %div.user
      - u = current_user
      - if !u.nil?
        #{u.first_name} #{u.last_name}
      -#    -#.float-right{ style: "text-shadow: 2px 2px #0f110c;" } WorkSheet

:css
  .user {
    color: white;
    display: block;
    position: absolute;
    left: 3%;
    font-size: 12px;
  }