%div.user
  - u = current_user
  - if !u.nil?
    #{u.first_name} #{u.last_name}

%header
  %div.display_flex
    %h6
      = params[:head]

:css
  .user {
    display: block;
    position: absolute;
    font-size: 12px;
    color: black !important;
  }
