%div.user
  - u = current_user
  - if !u.nil?
    #{u.first_name} #{u.last_name}

%header
  %div
    %div
      %h6
        #{params[:head]}
    -#%br
      -#    -#.float-right{ style: "text-shadow: 2px 2px #0f110c;" } WorkSheet

:css
  .user {
    display: block;
    position: absolute;
    left: 105%;
    font-size: 12px;
  }