- if current_user.present? && !current_user.rule.nil?
  %div.margin_top_5_px
    = form_for "", remote: true, url: { controller: "eggs_collect/collect_lists", action: "show", id: current_user.id} do |f|
      = f.submit "", class: "icon-eggs_collect btn margin_top_30_px"

