- if current_user.present? && current_user.create_user
  %div.margin_top_5_px
    =link_to "", users_new_path, class: "icon-create-user btn margin_top_15_px"
    -# =link_to t('create_user'), users_new_path, class: "icon-create-user"
