.margin_top_15_px
  = select_tag(:option, options_for_select([['🇫🇮', "fi", {:class=>'font-size-34'}], ['🇬🇧', "en", {:class=>'font-size-34'}]], selected: params[:locale] ), class: "icon-select-lang", id: "select_lang")

:css
  /*option: {*/
  /*  font-size: 34px !important;*/
  /*}*/

  /*select {*/
  /*  font-size: 0px;*/
  /*}*/

-#%select#select_lang.margin-left-20.btn.btn-dark.font-size-18{ selected: params[:locale] }
-#  %option{ value: "ru" } 🇷🇺
-#  %option{ value: "fi" } 🇫🇮
-#  %option{ value: "en" } 🇬🇧

:javascript
  $(document).ready(function() {

    $('#select_lang, #select_lang_mobile').change(function(){
      window.location = window.location.origin + "/" + $(this).val()
    });

  })

