@debug '________ applciation compile______';
@import "bootstrap";
@import 'bootstrap-select';
@import 'bootstrap-table/bootstrap-table';
@import "glyphicons";
@import "spiner";
@import "icons";
@import "worksheet";
@debug '________ applciation compiled______';
@import "bootstrap-datepicker";

header {
  grid-area: header;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

article {
  grid-area: content;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

aside {
  grid-area: sidebar;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

footer {
  padding: 20px;
  grid-area: footer;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.wrapper {
  padding: 20px 20px 0px 20px;
  display: grid;
  grid-gap: 20px;
  height: 98vh;
  grid-template-rows: 1fr 12fr;
  grid-template-columns: 1fr 15fr;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
}

@media (max-width: 1024px) {
  @media (orientation: landscape) {
    body { zoom: 0.3; }

    section {
      margin: 5px;
    }
  }
}

input {
  border-radius: 5px;
  line-height: 32px;
  color: black;
  width: 200px;
  font-size: 16px;
}

.display_flex { display: flex; }
.display-inline-block { display: inline-block; }
.position_relative { position: relative; }
.position_absolute { position: absolute; }
.left_85_per { left: 85% }
.left_84_per { left: 84% }
.left_83_per { left: 83% }
.left_75_per { left: 75% }
.left_25_per { left: 25% }
.left_15_per { left: 15% }
.left_10_per { left: 10% }
.margin_top_2_per { margin-top: 2% }
.margin_top_15_per { margin-top: 15% }
.margin_top_20_per { margin-top: 20% }
.margin_left_10_per { margin-left: 10% }
.margin_left_30_per { margin-left: 30% }
.margin_left_35_per { margin-left: 35% }
.margin_left_39_per { margin-left: 39% }
.margin_left_40_per { margin-left: 40% }
.margin_left_45_per { margin-left: 45% }
.margin_left_50_per { margin-left: 50% }
.margin_left { margin-right: -20%;}
.margin_left_5_per { margin-left: 5%; }
.margin_left_minus_20_per { margin-right: -20%;}
.width50 { width: 50px; }
.width75 { width: 75px; }
.width100 { width: 100px; }
.width125 { width: 125px; }
.width145 { width: 145px; }
.width175 { width: 175px; }
.width200 { width: 200px; }
.width250 { width: 250px; }
.height75 { height: 75px; }
.height100 { height: 100px; }
.height125 { height: 125px; }
.height200 { height: 200px; }
.height250 { height: 250px; }
.float-right { float: right }
.margin_top_0_per { margin-top: 0%; }
.margin_top_5_px { margin-top: 5px; }
.margin_top_15_px { margin-top: 15px; }
.padding-20-per { padding: 20px 20px 20px 20px }
.transform-1-3 { transform: scale(1.3); }
.border-radius-15px { border-radius: 5px; }

a, button, input, table, select {   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
