@debug '________ applciation compile______';
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-select';
@import 'bootstrap-table/bootstrap-table';
@import "glyphicons";
@import "spiner";
@import "icons";
@debug '________ applciation compiled______';

header {
  grid-area: header;
  background-color: #fed330;
  padding: 20px;
}
article {
  grid-area: content;
  background-color: #20bf6b;
  padding: 20px;
}
aside {
  grid-area: sidebar;
  background-color: #45aaf2;
}
footer {
  padding: 20px;
  grid-area: footer;
  background-color: #fd9644;
}
.wrapper {
  padding: 20px 20px 0px 20px;
  display: grid;
  grid-gap: 20px;
  height: 98vh;
  grid-template-rows: 1fr 12fr;
  grid-template-columns: 1fr 15fr;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
}

@media (max-width: 500px) {
  .wrapper {
    padding: 20px 20px 0px 20px;
    display: grid;
    height: 98vh;
    grid-gap: 20px;
    grid-template-rows: 1fr 12fr;
    grid-template-columns: 1fr 15fr;
    grid-template-areas:
    "header  header"
    "sidebar sidebar"
    "content content"
    "footer  footer";
  }
}

.display_flex { display: flex; }
.position_relative { position: relative; }
.position_absolute { position: absolute; }
.left_85_per { left: 85% }
.left_84_per { left: 84% }
.left_83_per { left: 83% }
.left_75_per { left: 75% }
.left_15_per { left: 15% }
.left_10_per { left: 10% }
.margin_top_2_per { margin-top: 2% }
.margin_top_15_per { margin-top: 15% }
.margin_top_20_per { margin-top: 20% }
.margin_left { margin-right: -20%;}
.width75 { width: 125px; }
.float-right { float: right }
.margin_top_0_per { margin-top: 0%; }
.margin_top_5_px { margin-top: 5px; }
.margin_top_15_px { margin-top: 15px; }
.padding-20-per { padding: 20px 20px 20px 20px }