.icon-auth {
  background: url(auth.svg);
  background-size: 100%;
  margin-left: 20%;
  height: 35px;
  width: 35px !important;
  border: 0px;
}

.icon-auth:hover {
  transition: 0.02s case;
  transform: translate(-5%, -5%) scale(1.1, 1.1);
}

.icon-auth:hover + .cursor {
  transform: translate(-50%, -50%) scale(8);
}
//
.icon-exit {
  background: url(exit.png);
  background-size: 100%;
  margin-left: 20%;
  height: 35px;
  width: 35px !important;
  border: 0px;
}

.icon-exit:hover {
  transition: 0.02s case;
  transform: translate(-5%, -5%) scale(1.1, 1.1);
}

.icon-exit:hover + .cursor {
  transform: translate(-50%, -50%) scale(8);
}
//
.icon-select-lang {
  background: url(select-lang.png);
  background-size: 100%;
  margin-left: 20%;
  height: 35px;
  width: 35px !important;
  border: 0px;
}

.icon-select-lang:hover {
  transition: 0.02s case;
  transform: translate(-5%, -5%) scale(1.1, 1.1);
}

.icon-select-lang:hover + .cursor {
  transform: translate(-50%, -50%) scale(8);
}
//
.icon-list-users {
  background: url(list-users.jpeg);
  background-size: 100%;
  margin-left: 20%;
  height: 35px;
  width: 35px !important;
  border: 0px;
}

.icon-list-users:hover {
  transition: 0.02s case;
  transform: translate(-5%, -5%) scale(1.1, 1.1);
}

.icon-list-users:hover + .cursor {
  transform: translate(-50%, -50%) scale(8);
}
//
.icon-create-user {
  background: url(create_user.png);
  background-size: 100%;
  margin-left: 20%;
  height: 34px;
  width: 35px !important;
  border: 0px;
}

.icon-create-user:hover {
  transition: 0.02s case;
  transform: translate(-5%, -5%) scale(1.1, 1.1);
}

.icon-create-user:hover + .cursor {
  transform: translate(-50%, -50%) scale(8);
}